<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>특수 길잡이</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_MAP_KEY }}&libraries=services"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="map"></div>
    <div class="card hidden">
        <div class="card_header">
            <p id="school_name">학교 이름</p>
            <button class="close_btn">← 뒤로가기</button>
        </div>
        <div class="card_content">
            <img id="school_photo" src="" alt="학교 사진">
            <p id="school_location">학교 주소</p>
            <p id="disable_type">어떤 장애인 전용 학교</p>
            <p id="school_type">설립구분</p>
            <p id="school_number">대표번호</p>
            <p id="school_homepage">
                <a id="school_homepage_link" href="#" target="_blank" rel="noopener"></a>
            </p>
            <div class="chart_section">
                <h4>과정별 학생수</h4>
                <canvas id="school_chart"></canvas>
            </div>
            <p id="total_students">총 학생 수</p>
            <div class="disability_section">
                <h4>장애유형 구성비</h4>
                <canvas id="disability_chart"></canvas>
                <p class="caption">*최큰 신입생 기준</p>
            </div>
            <div class="stats_section">
                <h4>방과후학교</h4>
                <div class="stats_grid">
                    <div class="stat">
                        <div class="stat_value" id="stat_curr_pgm">-</div>
                        <div class="stat_label">교과 프로그램</div>
                    </div>
                    <div class="stat">
                        <div class="stat_value" id="stat_curr_std">-</div>
                        <div class="stat_label">교과 수강생</div>
                    </div>
                    <div class="stat">
                        <div class="stat_value" id="stat_apt_pgm">-</div>
                        <div class="stat_label">특기적성</div>
                    </div>
                    <div class="stat">
                        <div class="stat_value" id="stat_apt_std">-</div>
                        <div class="stat_label">특기 수강생</div>
                    </div>
                     <div class="stat">
                        <div class="stat_value" id="stat_special_cls">-</div>
                        <div class="stat_label">종일반 학급</div>
                    </div>
                    <div class="stat">
                        <div class="stat_value" id="stat_special_std">-</div>
                        <div class="stat_label">종일반 학생</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter">
        <div class="filter_box">
            <button class="close_btn">← 뒤로가기</button>
            <label for="what_school">학교 종류</label>
            <select id="what_school" name="what_school">
                <option value="all">전체</option>
                <option value="public">공립</option>
                <option value="private">사립</option>
            </select>
            <label for="grade">학년</label>
            <select id="grade" name="grade">
                <option value="kindergarden">유치원</option>
                <option value="lower">초등학교</option>
                <option value="middle">중학교</option>
                <option value="high">고등학교</option>
                <option value="major">전공과</option>
            </select>
            <!-- 현재 위치를 바탕으로 떨어져 있는 거리를 계산하는 것을 하면 좋을 것 같은데 어떻게 하는지 모르겠음 -->
            <label for="distance">거리</label>
            <select id="distance" name="distance">
                <option value="1km">1km 이내</option>
                <option value="3km">3km 이내</option>
                <option value="5km">5km 이내</option>
                <option value="10km">10km 이내</option>
                <option value="all">전체</option>
            </select>
            <label for="disability_type">장애 유형</label>
            <select id="disability_type" name="disability_type">
                <option value="all">전체</option>
                <option value="visual">시각장애</option>
                <option value="hearing">청각장애</option>
                <option value="intellectual">지적장애</option>
                <option value="physical">지체장애</option>
                <option value="emotional">정서장애</option>
                <option value="autism">자폐성장애</option>
            </select>
            <!-- 사용자가 지불할 수 있는 교육비 상황 고려하는 필터 (이거는 AI 쪽에서 해결해야 할 수 있음)-->
        </div>
    </div>
    <div class="current_location">
        <button id="back_to_current_location">📍현재 위치로 돌아가기</button>
    </div>
    <script src="{{ url_for('static', filename='js/card.js')}}"></script>
    <script src="{{ url_for('static', filename='js/map.js')}}"></script>
</body>
</html>